<!DOCTYPE html>
<html>
  <head>
    <title>TwoFactorPoc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="panel panel-default public-panel col-md-offset-2 col-md-8">
          <div class="panel-body">
            <%= render partial: 'shared/messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
