<!DOCTYPE html>
<html>
  <head>
    <title>TwoFactorPoc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= link_to "Settings", private_panel_settings_path %>
    <span>|</span>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>

    <%= yield %>
  </body>
</html>
