<!DOCTYPE html>
<html>
  <head>
    <title>TwoFactorPoc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="bs-docs-nav navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Home', private_panel_root_path, class: 'navbar-brand' %>
        </div>
        <nav class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Settings", private_panel_settings_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container bs-docs-container">
      <div class="row">
        <%= render partial: 'shared/messages' %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
